#container {
  margin: 30px;
}

ul,li, ol {
  list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0;
}

.flex-top {
  display: flex;
  background-color: green;
  text-align: center;
}

.team-name-top {
  width: calc(40%)
}

.vs {
  width: calc(20%)
}

.team-buttons {
  background-color: blue;
  display: flex;
  flex-direction: column;
  width: calc(30%);
  text-align: center;
}

.main-bar {
  background-color: red;
  display: flex;
}

.goalies {
  display: flex;
  background-color: teal;
  text-align: center;
}


.center-main {
  background-color: yellow;
  width: calc(40%);
  text-align: center;
}

.bottom-main {
  background-color: darksalmon;
  display: flex;
  text-align: center;
}

.goalie {
  text-align: center;
  width: calc(50%)
}

.roster {
  width: calc(30%);
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.goals-and-pens {
  width: calc(20%);
  border-color: black;
  border-width: 1px;
  border-style: solid;
  background-color: khaki;
}

.goal-div {
  border-color: 'black';
  border-width: 1px;
  border-style: solid;
  background-color: salmon;
  height: calc(33%);
}

.goal-div:hover {
  background-color: pink;
}

.goal-table-key {
  display: flex;
  border-style: solid;
  border-width: thin;
  border-color: black;
  width: calc(90%);
  margin-left: 5%;
}



.vert {
  border-right: 1px solid black;
  text-align: center;
}

.goalnum {
  flex: 2
}

.period {
  flex: 3;
}

.tog {
  flex: 5;
}

.scorer {
  flex: 2.5;
}

.assist {
  flex: 2.5;
}

.notes {
  flex: 6.8;

}

.bord-r-tab {
  writing-mode: vertical-rl;
  text-combine-upright: digits 2;
  background-color: cyan;
  justify-content: center;
  align-content: center;
  margin: 10;
}

.popup {
  position: absolute;
  width: 50vw;
  height: 50vh;
  background-color: red;
  z-index: 1;
  border: 2px solid black;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.goalpopup {
  display: none;
}

.penaltypopup {
  display: none;
}
