.penalty {
  display: flex;
  border-style: solid;
  border-width: thin;
  border-color: black;
  width: calc(90%);
  margin-left: 5%;
}

.pen-p {
  margin: 4px;
  font-size: 16px;
  padding-left: 4;
  padding-right: 4;
}

.bord-r {
  border-right-width: thin;
  border-right-color: black;
  border-right-style: solid;
}
